@font-face {
  font-family: "SomethingStrange";
  src: url("/SomethingStrange.ttf") format("truetype");
}
body {
  background-color: rgb(46, 6, 3);
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px red solid;
}

.slogan {
  width: 25%;
  height: 5%;
  font-size: 30px;
  text-align: center;
  font-family: "SomethingStrange";
  color: black;
  background-color: white;
  border: 2px yellow solid;
  z-index: 1;
  //position: absolute;
}

.logo {
  //position: absolute;
  z-index: 3;
}
