@font-face {
  font-family: "ZCOOL XiaoWei", serif;
  src: url("/ZCOOLXiaoWei-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SomethingStrange";
  src: url("/SomethingStrange.ttf") format("truetype");
}
@import url("https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap");
