@font-face {
  font-family: "ZCOOL XiaoWei", serif;
  src: url("/ZCOOLXiaoWei-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SomethingStrange";
  src: url("/SomethingStrange.ttf") format("truetype");
}
